<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>
      <P>パスワードを記憶しますか？</P>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>新規ユーザーですか？<%= link_to "アカウント登録はこちら", signup_path %></p>
  </div>
</div>
